@media print {
  body {
    /* font-family: Arial, sans-serif; */
    font-size: 14pt !important;
    color: black !important;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  h2 {
    font-size: 16pt;
  }

  p {
    line-height: 1.3;
  }
}
